body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.intro {
    margin-top: 100px;
    margin-left: 1000px;
    text-align: justify;
    font-family: 'Arial', sans-serif;
}

.disc {
    margin-top: 20px;
    margin-left: 1000px;
    text-align: justify;
    font-family: 'Arial', sans-serif;
}

.name {
    margin-left: 1000px;
    text-align: justify;
    font-family: 'Arial', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: 'Arial', sans-serif;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(214, 204, 194);
    font-family: 'Arial', sans-serif;
}

.leftLinks {
    display: inline-block;
    float: left;
}

.rightLinks {
    display: inline-block;
    float: right;
}

.weblink {
    display: inline-block;
    padding: 0px;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.pic {
    width: 500px;
    height: auto;
    margin-left: 400px;
    margin-bottom: 200px;
}